.text{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #434343;
    box-sizing: border-box;
    z-index: 1;
    overflow: hidden;
    position: relative;
    height: 30px;
    max-width: 432px;
    line-height: 40px;
    text-align: center;
    color: #8C8C8C;
    font-size: 18px;
    cursor: text;
    margin: 7px;
    white-space: nowrap;
}

.btn_primary {
    padding: 0;
    margin: 0;
    display: flex;
    color: #D9D9D9;
    background-color: #035B66;
    justify-content: center;
    position: relative;
    border: none;
    outline: none;
    font-size: 14px;
    height: 30px;
    padding: 5px 20px;
    border-radius: 99px;
    overflow: hidden;
    cursor: pointer;
    bottom: 0;
}

.form{
    margin: 10px;
    padding: 0 5px;
    display: flex;
    align-items: center;
     background-color: #1b1919;
     border-radius: 12px;
}

.id{
   
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-color: #434343;
    box-sizing: border-box;
    z-index: 1;
    overflow: hidden;
    position: relative;
    height: 30px;
    max-width:70px;
    line-height: 40px;
    text-align: center;
    color: #8C8C8C;
    font-size: 18px;
    cursor: text;
    margin: 7px;
    white-space: nowrap;
}


.btn_Delete {
    padding: 0;
    margin: 0;
    display: flex;
    color: #D9D9D9;
    background-color: #035B66;
    justify-content: center;
    position: relative;
    border: none;
    outline: none;
    font-size: 14px;
    height: 30px;
    padding: 5px 20px;
    border-radius: 99px;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    right: 20px;
}